In [1]:
library(h2o)

NameError: name 'library' is not defined

In [2]:
h2o.init()

 Connection successful!

R is connected to the H2O cluster:
    H2O cluster uptime:         5 minutes 26 seconds
    H2O cluster timezone:       Asia/Kolkata
    H2O data parsing timezone:  UTC
    H2O cluster version:        3.20.0.2
    H2O cluster version age:    3 days
    H2O cluster name:           H2O_started_from_R_raj_rnt508
    H2O cluster total nodes:    1
    H2O cluster total memory:   3.54 GB
    H2O cluster total cores:    8
    H2O cluster allowed cores:  8
    H2O cluster healthy:        TRUE
    H2O Connection ip:          localhost
    H2O Connection port:        54321
    H2O Connection proxy:       NA
    H2O Internal Security:      FALSE
    H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
    R Version:                  R version 3.4.3 (2017-11-30)

In [3]:
set.seed(123)

In [4]:
N<-1000

In [9]:
bloodTypes<-c('A','O','AB','B')

In [12]:
length(bloodTypes)

[1] 4

In [14]:
head(d$id)

[1] 1 2 3 4 5 6

In [19]:
d$id[4] %% length(bloodTypes) #modulus operator

[1] 0

In [10]:
d<-data.frame(id=1:N)
d$bloodType<-bloodTypes[(d$id %% length(bloodTypes))+1]
#R indexes from 1

In [20]:
bloodTypes<-c('A','A','A','O','O','O','AB','B')

In [21]:
d$bloodType<-as.factor(bloodTypes[(d$id %% length(bloodTypes))+1])

In [22]:
d$age<-runif(N,min=18,max = 65)

In [23]:
#how healthy eating they are on scale of 0 to 9
v=round(rnorm(N,mean=5,sd=2))
v=pmax(v,0)
v=pmin(v,9)
table(v)
d$healthyEating<-v

v
  0   1   2   3   4   5   6   7   8   9
  7  36  61 126 148 204 192 127  56  43

In [24]:
#Active Lifestyle
v=round(rnorm(N,mean=5,sd=2))
v=v+ifelse(d$age<30,1,0)
v=pmax(v,0)
v=pmin(v,9)
table(v)
d$activeLifeStyle<-v

v
  0   1   2   3   4   5   6   7   8   9
  7  29  56  97 172 199 166 128  96  50

In [27]:
#Salary based on age
v=20000+ ((d$age * 3)^2)
v=v+(d$healthyEating * 500)
v=v-(d$activeLifeStyle * 300) # everybody is getting injured
v=v+runif(N,0,5000) #noise
d$income = round(v,-2) # Round to nearest $100

In [29]:
as.h2o(d,destination_frame = 'people')

  |======================================================================| 100%

  id bloodType      age healthyEating activeLifeStyle income
1  1         A 31.51614             4               3  34700
2  2         A 55.05034             3               4  50500
3  3         O 37.22192             7               3  35500
4  4         O 59.50182             7               6  57800
5  5         O 62.20196             2               7  53900
6  6        AB 20.14116             5               9  27500

[1000 rows x 6 columns]

In [ ]:
#in python
train, valid, test = people.split_frame(
    ratios = [0.8,0.1]
)