In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.1+13-LTS, mixed mode)
  Starting server from C:\Users\Raunak\anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Raunak\AppData\Local\Temp\tmpfz899qdn
  JVM stdout: C:\Users\Raunak\AppData\Local\Temp\tmpfz899qdn\h2o_Raunak_started_from_python.out
  JVM stderr: C:\Users\Raunak\AppData\Local\Temp\tmpfz899qdn\h2o_Raunak_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    15 days
H2O_cluster_name:           H2O_from_python_Raunak_oo49sa
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.975 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [3]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train, test = iris.split_frame([0.8])

In [7]:
train.head()

sepal_len,sepal_wid,petal_len,petal_wid,class
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5,3.4,1.5,0.2,Iris-setosa
5.4,3.7,1.5,0.2,Iris-setosa
4.8,3.4,1.6,0.2,Iris-setosa

In [13]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.4,2.0,1.0,0.1,
mean,5.874590163934425,3.0663934426229518,3.8245901639344257,1.2336065573770494,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8197521773677384,0.4449181660733805,1.7815079263936153,0.77583446472225,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,5.4,3.7,1.5,0.2,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [14]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [15]:
mDL = H2ODeepLearningEstimator()
mDL.train(["sepal_len","sepal_wid","petal_len","petal_wid"], "class",train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [16]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1592335570817_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,220 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00562809,0.00462893,0,-0.00689123,0.108067,0.487732,0.00899701
2,,3,200,Rectifier,0,0,0,0.016937,0.056029,0,-0.000671413,0.0701502,0.998851,0.00467139
3,,4,3,Softmax,,0,0,0.012901,0.0769243,0,-0.0154834,0.394926,-0.000423203,0.00175176

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.026798122624097143
RMSE: 0.16370132138775528
LogLoss: 0.08438752577471843
Mean Per-Class Error: 0.036036036036036036

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         40.0              0.0             0.0  0.000000   0 / 40
1          0.0             33.0             4.0  0.108108   4 / 37
2          0.0              0.0            45.0  0.000000   0 / 45
3         40.0             33.0            49.0  0.032787  4 / 122

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.967213
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-06-17 01:11:47,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-06-17 01:11:48,1.031 sec,170 obs/sec,1.0,1,122.0,0.592604,1.536390,0.494736,0.368852
2,,2020-06-17 01:11:49,1.585 sec,979 obs/sec,10.0,10,1220.0,0.163701,0.084388,0.961444,0.032787

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.270244
1  petal_len             0.940564           0.940564    0.254182
2  sepal_wid             0.915105           0.915105    0.247302
3  sepal_len             0.844693           0.844693    0.228273

In [17]:
p = mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [18]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.998703,0.00129694,1.15994e-16
Iris-setosa,0.998349,0.00165101,3.45619e-17
Iris-setosa,0.999742,0.000258451,3.42698e-18
Iris-setosa,0.999769,0.000230565,9.66635e-18
Iris-setosa,0.998508,0.00149232,7.97171e-17
Iris-setosa,0.996469,0.00353053,1.44576e-16
Iris-setosa,0.993286,0.0067144,9.30028e-15
Iris-setosa,0.99818,0.00181994,1.48863e-16
Iris-setosa,0.999418,0.000582089,3.13292e-17
Iris-setosa,0.999196,0.000804027,2.14382e-17

In [19]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.00030238437812021266
RMSE: 0.017389202917908936
LogLoss: 0.006789314436953439
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0         10.0              0.0             0.0    0.0  0 / 10
1          0.0             13.0             0.0    0.0  0 / 13
2          0.0              0.0             5.0    0.0   0 / 5
3         10.0             13.0             5.0    0.0  0 / 28

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0