In [1]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         1 hour 58 mins
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    16 days
H2O_cluster_name:           H2O_from_python_Raunak_8pe7q9
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.972 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [2]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
train, test = iris.split_frame([0.8])

In [4]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.2,1.0,0.1,
mean,5.7474137931034495,3.0594827586206907,3.63103448275862,1.1517241379310343,
maxs,7.7,4.4,6.7,2.5,
sigma,0.7927345305851179,0.4289478428364723,1.7605045617220307,0.7694699201534713,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,4.6,3.4,1.4,0.3,Iris-setosa
5,5.0,3.4,1.5,0.2,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,4.9,3.1,1.5,0.1,Iris-setosa
8,5.4,3.7,1.5,0.2,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [5]:
train.nrows

116

In [6]:
from h2o.estimators.naive_bayes import H2ONaiveBayesEstimator

In [7]:
mNB = H2ONaiveBayesEstimator()
mNB.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [8]:
mNB

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  NaiveBayes_model_python_1592391588560_4


Model Summary:

,,number_of_response_levels,min_apriori_probability,max_apriori_probability
0,,3.0,0.310345,0.362069

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.03269277327454913
RMSE: 0.18081143015459264
LogLoss: 0.10222640438223103
Mean Per-Class Error: 0.045321637426900575

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         42.0              0.0             0.0  0.000000   0 / 42
1          0.0             36.0             2.0  0.052632   2 / 38
2          0.0              3.0            33.0  0.083333   3 / 36
3         42.0             39.0            35.0  0.043103  5 / 116

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.956897
1  2   1.000000
2  3   1.000000

In [9]:
p = mNB.predict(test)

naivebayes prediction progress: |█████████████████████████████████████████| 100%

In [10]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,1,4.31716e-17,7.77493e-25
Iris-setosa,1,2.87231e-14,2.95279e-21
Iris-setosa,1,2.92649e-18,1.25314e-25
Iris-setosa,1,7.03668e-19,1.56788e-25
Iris-setosa,1,1.92721e-16,6.77905e-24
Iris-setosa,1,4.98488e-14,8.59925e-22
Iris-setosa,1,2.28942e-16,8.00548e-24
Iris-setosa,1,5.20731e-18,8.31073e-26
Iris-versicolor,2.21809e-98,0.985896,0.014104
Iris-versicolor,4.26479e-41,0.999999,1.16198e-06

In [11]:
mNB.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.027458796880565406
RMSE: 0.1657069608693775
LogLoss: 0.09384013484086613
Mean Per-Class Error: 0.027777777777777776

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          8.0              0.0             0.0  0.000000   0 / 8
1          0.0             11.0             1.0  0.083333  1 / 12
2          0.0              0.0            14.0  0.000000  0 / 14
3          8.0             11.0            15.0  0.029412  1 / 34

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.970588
1  2   1.000000
2  3   1.000000

In [12]:
mNB2 = H2ONaiveBayesEstimator(laplace = 2)
mNB2.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [14]:
mNB2

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  NaiveBayes_model_python_1592391588560_5


Model Summary:

,,number_of_response_levels,min_apriori_probability,max_apriori_probability
0,,3.0,0.311475,0.360656

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.03269858550862747
RMSE: 0.18082750208037346
LogLoss: 0.10221938626462541
Mean Per-Class Error: 0.045321637426900575

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         42.0              0.0             0.0  0.000000   0 / 42
1          0.0             36.0             2.0  0.052632   2 / 38
2          0.0              3.0            33.0  0.083333   3 / 36
3         42.0             39.0            35.0  0.043103  5 / 116

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.956897
1  2   1.000000
2  3   1.000000

In [13]:
mNB2.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.02746704344787341
RMSE: 0.16573184198539945
LogLoss: 0.0939109763605796
Mean Per-Class Error: 0.027777777777777776

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          8.0              0.0             0.0  0.000000   0 / 8
1          0.0             11.0             1.0  0.083333  1 / 12
2          0.0              0.0            14.0  0.000000  0 / 14
3          8.0             11.0            15.0  0.029412  1 / 34

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.970588
1  2   1.000000
2  3   1.000000