In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.1+13-LTS, mixed mode)
  Starting server from C:\Users\Raunak\anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Raunak\AppData\Local\Temp\tmp6xyxhp2a
  JVM stdout: C:\Users\Raunak\AppData\Local\Temp\tmp6xyxhp2a\h2o_Raunak_started_from_python.out
  JVM stderr: C:\Users\Raunak\AppData\Local\Temp\tmp6xyxhp2a\h2o_Raunak_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         05 secs
H2O_cluster_timezone:       Asia/Kolkata
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    16 days
H2O_cluster_name:           H2O_from_python_Raunak_8pe7q9
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.975 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [3]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train, test = iris.split_frame([0.8])

In [8]:
(train.nrows), (test.nrows)

(119, 31)

In [9]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.830252100840337,3.050420168067227,3.7647058823529425,1.1974789915966382,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8319422467985748,0.44756856298544134,1.793518851417189,0.759511683541644,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa

In [10]:
from h2o.estimators.random_forest import H2ORandomForestEstimator

In [11]:
mRF = H2ORandomForestEstimator()
mRF.train(["sepal_len","sepal_wid","petal_len","petal_wid"], "class",train)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [12]:
mRF

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1592391588560_1


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,150.0,19165.0,1.0,8.0,3.48,2.0,11.0,5.52

ModelMetricsMultinomial: drf
** Reported on train data. **

MSE: 0.04599155356882184
RMSE: 0.21445641414707522
LogLoss: 0.41947473000377766
Mean Per-Class Error: 0.05947796320068464

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         40.0              0.0             0.0  0.000000   0 / 40
1          0.0             38.0             3.0  0.073171   3 / 41
2          0.0              4.0            34.0  0.105263   4 / 38
3         40.0             42.0            37.0  0.058824  7 / 119

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.941176
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2020-06-17 16:32:44,0.074 sec,0.0,NaN,NaN,NaN
1,,2020-06-17 16:32:45,0.347 sec,1.0,0.261116,2.354917,0.068182
2,,2020-06-17 16:32:45,0.393 sec,2.0,0.274159,2.545579,0.073529
3,,2020-06-17 16:32:45,0.435 sec,3.0,0.246823,1.974915,0.068182
4,,2020-06-17 16:32:45,0.465 sec,4.0,0.238025,1.731595,0.059406
5,,2020-06-17 16:32:45,0.527 sec,5.0,0.233207,1.386125,0.057143
6,,2020-06-17 16:32:45,0.555 sec,6.0,0.225929,1.313619,0.054054
7,,2020-06-17 16:32:45,0.617 sec,7.0,0.230376,1.310857,0.062500
8,,2020-06-17 16:32:45,0.646 sec,8.0,0.225685,1.287198,0.052632
9,,2020-06-17 16:32:45,0.730 sec,9.0,0.224894,1.257612,0.042735
10,,2020-06-17 16:32:45,0.758 sec,10.0,0.223907,1.253130,0.042735
11,,2020-06-17 16:32:45,0.797 sec,11.0,0.225347,1.244462,0.050847
12,,2020-06-17 16:32:45,0.822 sec,12.0,0.233271,1.256821,0.059322
13,,2020-06-17 16:32:45,0.856 sec,13.0,0.230789,1.244446,0.058824
14,,2020-06-17 16:32:45,0.888 sec,14.0,0.229688,1.243149,0.050420
15,,2020-06-17 16:32:45,0.917 sec,15.0,0.230813,0.743167,0.058824
16,,2020-06-17 16:32:45,0.952 sec,16.0,0.233532,0.746993,0.058824
17,,2020-06-17 16:32:45,0.996 sec,17.0,0.233960,0.749903,0.058824
18,,2020-06-17 16:32:45,1.035 sec,18.0,0.233635,0.750728,0.058824
19,,2020-06-17 16:32:45,1.064 sec,19.0,0.230292,0.724911,0.058824

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_len          1682.218750           1.000000    0.491158
1  petal_wid          1418.910522           0.843476    0.414279
2  sepal_len           249.832321           0.148514    0.072944
3  sepal_wid            74.046432           0.044017    0.021619

In [13]:
mRF.model_performance(test)

ModelMetricsMultinomial: drf
** Reported on test data. **

MSE: 0.028568156712240913
RMSE: 0.1690211723786133
LogLoss: 0.09302775096733899
Mean Per-Class Error: 0.05555555555555555

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         10.0              0.0             0.0  0.000000  0 / 10
1          0.0              9.0             0.0  0.000000   0 / 9
2          0.0              2.0            10.0  0.166667  2 / 12
3         10.0             11.0            10.0  0.064516  2 / 31

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.935484
1  2   1.000000
2  3   1.000000